/* Write your CSS here */
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.heading-container {
  display: flex;
  align-items: center;
}
.ipl-logo {
  width: 30px;
  height: 50px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 40px;
    height: 60px;
  }
}
.dashboard-heading {
  font-family: 'Bree Serif';
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .dashboard-heading {
    font-size: 50px;
  }
}
.list-details {
  list-style-type: none;
  margin-left: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .list-details {
    margin-left: 40px;
    padding-left: 80px;
    padding-right: 80px;
    width: 900px;
  }
}
